.user-display{
    width: 73%;
    border-right: 1px solid black;
    margin: 0;
    
}
.seleced-area{
    width: 27%;
}
.containers{
    display:flex;
}
#salary{
    background: greenyellow; 
    color: black;      
}
#salary h4{
    padding: 10px 0;
}