.card {
    background-color: transparent;
    margin: 25px 10px;
    border: 1px solid greenyellow;
    box-shadow: 8px 8px 16px black;
    border-radius: 0 10px;
}

.card:hover {
    box-shadow: 2px 2px 8px greenyellow;
}

.employeImg {
    border-radius: 0 10px;
}

.card-title {
    font-size: 20px;
    line-height: 0;
    padding-top: 10px;
    color: greenyellow;
}

.text-muted {
    font-size: 18px;
    line-height: 0;
    color: white;
}
.employeeStatus{
    background-color: greenyellow;
    color: black;
    padding: 15px 0;
}
