.user-cart{
    border-bottom: 10px solid greenyellow;
    width: 304px;
    margin:20px 10px;
    border-radius:8px;
    box-shadow: 10px 10px 20px black;
    display: inline-grid;
    padding-bottom: 30px;
    border-top: 1px solid greenyellow;
    border-left: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
    
}
.user-cart button{
    padding: 6px 20px;
    background-color: black;
    border: 1px solid white;
    color:white;
    border-radius: 5px;
    font-size: 16px;
}

.user-cart button:hover{
    padding: 6px 20px;
    background-color: greenyellow;
    border: 1px solid black;
    color:black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.user-cart img{
    border-radius: 8px 8px 0 0;
}
.user-cart:hover{
    box-shadow: 2px 2px 8px greenyellow;
    border-bottom: 20px solid greenyellow;
}
span{
    color: greenyellow;
    font-size: 24px;
    font-weight: 500;
}